@import "basalt.css";
@import "vars.css";

#orgInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: calc(var(--m) * 1.5);
}

#orgImagePlaceholder {
    width: calc(var(--pxrem) * 75);
    height: calc(var(--pxrem) * 75);

    background-color: var(--subcolor);
    border-radius: calc(var(--r) / 4);
}

#orgImagePlaceholder > img {
    border-radius: calc(var(--r) / 4);

    object-fit: cover;
    width: calc(var(--pxrem) * 75);
    height: calc(var(--pxrem) * 75);

    /*object-fit: cover;*/
    /*object-position: 100% 0;*/
}

#orgTextHandler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#additionalInfoHandler {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: calc(var(--m) * 22);
}

#income {
    color: var(--green);
}

#currentPeopleCounter {
    color: var(--subcolor);
}



#DetailsAndPlaceholderHandler {
    display: flex;
    flex-direction: row;

}

#detailMenu, #placeholder, #outcomes, #calendar {
    flex-grow: 1;
}

#Guests {
    position: relative;
}

